/* Globals */

    body {
        margin: 0px;
        font: Normal 13px 'Lucida Grande', Verdana, sans-serif;
    }

    div.clear {
        clear: both;
        height: 1px;
    }
    
    a img {
        border-width: 0px;
    }

    h1 {
        padding-bottom: 4px;
        margin-bottom: 25px;
    }
    
    .profile_photo {
        border: 1px solid #333;
        padding: 1px;
        background-color: #eee;
    }

    .empty_div_space{
        font-size:1px;
        line-height:2px;
    }

/* Container */

div#container {
    width: 1000px;
    margin: auto;
}
    
/* Header */

div#header {
    margin: 20px 20px 0px 20px;
    position: relative;
}

div#header img#logo {
    border-width: 0px;
}

div#header form#newsletter_signup {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #eee;
    padding: 10px;
}

div#header form#newsletter_signup label {
    font: Bold 16px Helvetica, sans-serif;
    color: #777;
}

    img#logo {
        width: 640px;
        height: 115px;
    }

/* Navigation
 -------------------------------------------------- */

ul#navigation {
    height: 30px;
    margin: 10px 20px 0px 20px;
    padding: 0px;
    list-style-type: none;
}

    ul#navigation li {
        font: 26px 'Arial Black', Helvetica, sans-serif;
        text-transform: uppercase;
        height: 26px;
        line-height: 26px;
        float: left;
    }

    li#nav_home, li#nav_blog{
        border-right: solid 2px #ddd;
        padding-right: 15px;
        margin-right: 15px;
    }

    li.nav_element {
        border-left: solid 2px #ddd;
        padding-left: 15px;
        margin-left: 15px;
    }

        li.first_nav_element {
        }
        
        li.current_nav_element {
            border-left: solid 2px #ddd;
            padding-left: 15px;
            margin-left: 15px;
        }
            li.current_nav_element a {
            }
        li.current_first_nav_element {
        }
            li.current_first_nav_element a {
            }
    
    ul#navigation li.nav_account {
        font: Normal 17px Helvetica, sans-serif;
        line-height: 17px;
        letter-spacing: -1px;
        float: right;
        margin-left: 25px;
    }
    
    ul#navigation li.nav_account .profile_photo {
        margin-bottom: -5px;
    }

    ul#navigation li a {
        color: #000;
        text-decoration: none;
    }

    ul#navigation ul#login_panel {
        list-style-type: none;
    }
        ul#navigation ul#login_panel a {
        }

/* LeaderBoard
 -------------------------------------------------------- */
 
/* Promo and Ad Leaderboard */
#leaderboard {
    float: left;
    padding: 0;
    margin: 0;
    width:1000px;
}

#ad_leaderboard {
    float: left;
    display: block;
    margin-left: 20px;
    padding-left: 0;
    width: 980px;
    text-align: center;
}

/* Login / Sign Up buttons */

div#leaderboard div#login {
    display: inline;
    width: 200px;
    margin: 0;
}

div#login ul#login_panel {
    margin-right: 0;
    padding-right: 0;
    list-style-type: none;
    width: 200px;
    height: 60px;
}

div#login ul {
    float: right;
    margin: 30px 0 0 0;
    padding: 0 3px;
}

#login ul li, #login ul li a {
    display: inline;
    margin: 0;
    color: #000;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
}

#login ul li#nav_login, #login ul li#nav_signup, #login ul li#nav_logout {
    padding: 0 0 0 12px;
    font: bold 17px Helvetica, sans-serif;
}

div#promo_leaderboard {
    font-size: 11px;
    padding: 5px 0px 5px 8px;
    margin: 10px 20px 20px 20px;
    background-color: #eee;
    clear: both;
}

/** Log In - Submission Page **/
#log_in_table {
    margin: 0 0 0 40px;
}

/* Content
 -------------------------------------------------------- */

div#container div#content {
    width: 850px;
    float: left;
}
    
body#episode div#container div#content {
    width: 1000px;
}

body#page div#container div#content, body#register div#container div#content {
    padding-left: 20px;
}

/* Default Page Layout
 ------------------------------------------------------- */
div#left_column {
    width: 160px;
    float: left;
    margin-left: 20px;
}

div#middle_column {
    width: 450px;
    float: left;
    margin-left: 20px;
}

div#right_column {
    width: 300px;
    float: right;
    margin-right: 20px;
}
    
embed#player {
    width: 450px;
    height: 370px;
}
            
/* Footer
 ------------------------------------------------------- */
        
div#container div#footer {
    font-size: 11px;
    text-align: center;
    clear: both;
    padding: 20px;
}
            
div#container div#footer a {
    color: #000;
}
            
div#container div#footer p {
    margin: 5px;
}

/*** Just in case the user has no player ***/

    div#no_flash  {
        background-color: #fff;
        border: none;
        height: 160px;
        font-size: 12px;
        text-align: center;
        padding: 20px;
        padding-top: 100px;
}

/* Recent Episodes
 ------------------------------------------------------- */

div#recent_episodes ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

    div#recent_episodes ul li {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: solid 1px #ccc;
    }

div#recent_episodes img.episode_poster {
    width: 100px;
    height: 75px;
    border: solid 1px #333;
    background-color: #333;
    float: left;
}

div#recent_episodes div.episode_description {
    width: 190px;
    float: right;
    font-size: 11px;
}

    div#recent_episodes div.episode_description a {
        color: #000;
    }

    div#recent_episodes div.episode_description h3 {
        margin: 0px;
    }

    div#recent_episodes div.episode_description h3 a {
        text-decoration: none;
    }
        
div#recent_episodes div#more_episodes_link {
    font-size: 11px;
}

    div#recent_episodes div#more_episodes_link a {
        color: #000;
    }
               
/* Episodes
 ----------------------------------------------------- */

ul#episodes {
    list-style-type: none;
    padding: 0px;
    margin: 0px auto 0px auto;
    width: 500px;
}

    ul#episodes li {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: solid 1px #ccc;
    }

ul#episodes img.episode_poster {
    width: 100px;
    height: 75px;
    border: solid 1px #333;
    background-color: #333;
    float: left;
}

ul#episodes div.episode_description {
    width: 390px;
    float: right;
    font-size: 12px;
}

    ul#episodes div.episode_description a {
        color: #000;
    }

    ul#episodes div.episode_description h3 {
        margin: 0px;
        font-size: 14px;
    }

    ul#episodes div.episode_description h3 a {
        text-decoration: none;
    }

    ul#episodes div.episode_description div.episode_date {
        font-style: italic;
    }

    ul#episodes div.episode_description div.episode_author {
        font-size: 10px;
    }

div.pagination {
    text-align: center;
    margin: 30px;
}
    div.pagination a {
        font-weight: bold;
    }

div.pagination .current_page {
    color: #555;
}

/* Episode Info
 ---------------------------------------------------------------- */

div#episode_info {
    padding: 15px;
    font-size: 12px;
    position: relative;
    margin-bottom: 30px;
    background-color: #eee;
}

div#episode_info_text h1 {
    text-transform: uppercase;
    font: Bold 26px Helvetica, sans-serif;
    margin: 0px 0px 10px 0px;
    letter-spacing: -1px;
}

    div#episode_info_title_a {
    }
    div#episode_info_title_b {
    }

    div#episode_info_title_a h1 {
        text-align: left;
        text-transform: none;
        font: Bold 26px Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        letter-spacing: -1px;
    }
    div#episode_info_title_b h1{
        text-align: left;
        text-transform: none;
        font: Bold 26px Helvetica, sans-serif;
        padding: 0;
        margin: 0;
        letter-spacing: -1px;
    }
                
    div#episode_info a {
        color: #000;
    }
    
div#episode_info img#triangle {
  position: absolute;
  left: -24px;
  top: 30px;
  width: 24px;
  height: 48px;
}

/* Share Links */

div#share_links {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 280px;
    float: right;
}
div#share_links_post {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 280px;
}

div#blog div#aux div#share_links {
    width: 200px;
}

    div#share_links img#shareicon{
        vertical-align: middle;
        height: 16px;
        width: 16px;
    }

    div#share_links p{
        display: inline;
        vertical-align: middle;
        padding: 2px;
    }

    div#share_links form{
        display: inline;
        height: 16px;
        width: 16px;
    }

    div#share_links form input{
        position: relative;
        display: inline;
        vertical-align: middle;
        padding-bottom: 2px;
        height: 16px;
        width: 16px;
    }

/* Embed Code */
    
div#embed_code {
    font-size: 11px;
}
        
    div#embed_code h3 {
        font-size: 11px;
        font-weight: bold;
        margin: 20px 0px 5px 0px;
    }
            
    div#embed_code p {
        margin: 5px 0px 5px 0px;
    }
            
    div#embed_code label {
        display: block;
    }

    div#embed_code input {
        width: 260px;
    }
    

div#ad_right_rec {
    text-align: center;
}

    /* Player Controls */

    div#player_controls {
        margin-top: 10px;
        padding: 5px 6px 3px 6px;
        font: Normal 10px Verdana, sans-serif;
        border: solid 1px #757575;
    }

        div#player_controls a {
            color: #000;
        }

        div#player_controls div#prev_next_links {
                margin-bottom: 10px;
        }

        div#player_controls div#sharepanel {
                padding-top: 10px;
                padding-bottom: 10px;
                height: 35px;
                clear: both;
        }

    div#download_links{
        width: 200px;
        float: left;    
    }

        div#download_links ul{
            list-style: none;
            padding: 0px;
            margin: 0px;  
            padding-bottom: 10px;
        }

        div#download_links ul li{
            padding: 0px;
            margin: 0px;                 
        }

    div#sharepanel p{
        display: block;
        vertical-align: bottom;
        width: 100px;
    }

    div#player_controls div#add_comment {
        border-top: solid 1px #dcdcdc;
        padding-top: 10px;
        margin: 13px 0px 0px 0px;
        font-size: 11px;
        clear: both;
    }

    div#add_comment_toggle {
        padding-bottom: 10px;
    }

        div#add_comment_toggle a {
            font-weight: bold;
        }

    /* Add Comment form on blog-post and episode views */
    #add_comment table {
        width: 100%;
    }

    #add_comment th {
        text-align: right;
        vertical-align: top;
        width: 70px;
    }

    #add_comment td, #add_comment th {
        padding: 1px;
    }

    #add_comment textarea#comment_body, #add_comment #comment_body_overlay {
        width: 100%;
        height: 60px;
    }

    #add_comment input, #add_comment textarea, #add_comment #comment_body_overlay {
        border: solid 1px #888;
        font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
        font-size: 11px;
    }

    #add_comment #comment_body_overlay {
        text-align: center;
        padding-top: 10px;
    }

    #add_comment .description {
        font-size: 11px;
    }

    /* Blog Feature */

    div#blog_feature {
        border: solid 1px #757575;
        margin-top: 10px;
        padding: 20px;
    }

    div#blog_feature h2 {
        font: Bold 22px Helvetica, sans-serif;
        letter-spacing: -1px;
        border-bottom: solid 2px #959595;
        padding-bottom: 5px;
        margin: 0px 0px 20px 0px;
    }

        div#blog_feature h2 a {
            color: #606065;
            text-decoration: none;
        }

        div#blog_feature h3 {
            margin: 0px 0px 10px 0px;
            font: Bold 28px Helvetica, sans-serif;
            letter-spacing: -1px;
        }

    div#blog_feature div.date {
        font-size: 9px;
        margin-top: 15px;
        clear: both;
    }

    div#blog_feature div.post_body {
        margin-bottom: 30px;
    }
    
    div#blog_feature div#author_display {
        margin-bottom: 5px;
    }

        div#blog_feature ul {
            list-style-type: square;
            padding: 0px 0px 0px 20px;
        }

    div.blog_post p{
        margin-left: 20px;
    }
    div.blog_post img {
        max-width: 400px;
        max-height: 425px;
        width:expression( this.width > 400 ? 400 : true );
        height:expression( this.height > 425 ? 425 : true );
    }
    div.blog_post p img{
        max-width: 400px;
        max-height: 425px;
        width:expression( this.width > 400 ? 400 : true );
        height:expression( this.height > 425 ? 425 : true );        
    }
    
    div.blog_post div#author_display {
        margin-bottom: 2px;
    }
    div.blog_post div#blog_comments_num{
        margin-bottom: 5px;
    }

    div.post_body p img {
        max-width: 400px;
        width:expression( this.width > 400 ? 400 : true );
        height:expression( this.height > 425 ? 425 : true );
    }

    /* Subscribe */

    div#subscribe {
        padding: 10px;
        background-color: #eee;
    }

        div#subscribe h2 {
            margin: 0px 0px 10px 0px;
            font: Bold 18px Helvetica, sans-serif;
            letter-spacing: -1px;
        }

        div#subscribe img {
            width: 102px;
            height: 20px;
        }

        div#subscribe ul {
            padding: 0px;
            margin: 0px;
            list-style-type: none;
        }

        div#subscribe ul li {
            margin-top: 5px;
        }

    /* Intro panel */

    div#channel_description {
        margin: 15px 0 15px 20px;
    }

    /* Latest comments */

    div#comments {
        margin-top: 20px;
    }

    div#comments ul {
        padding: 0px;
        list-style-type: none;
    }

    div#comments li {
        background-color: #eee;
        padding: 7px;
        margin-top: 10px;
        font: Normal 11px Verdana, Arial, Helvetica, sans-serif;
        overflow: hidden;
    }
    div#comments li div.author{
        margin-bottom: 10px;
    }

    div#comments li div.attribution {
        font-weight: bold;
    }

        div#comments li a {
            text-decoration: none;
        }

        div#comments li .profile_photo {
            float: left;
            margin: 0px 5px 5px 0px;
        }


    div#comments .response {
        background: #EEE;
        padding: 10px 0 10px 20px;
    }


    /* Blog Headlines */
    
    div#blog_headlines {
        margin: 0 0 0 20px;
        padding: 10px 0 0 0;
    }

    div#blog_headlines ul {
        list-style-type: none;
        padding: 0px;
        margin: 0 0 0 0px;
    }

        div#blog_headlines ul li {
            font-size: 12px;
            padding-bottom: 10px;
            margin: 0 0 10px 0;
            border-bottom: solid 1px #ccc;
        }

            div#left_advert {
                margin-top:20px;
                text-align: center;
            }

/* Blog
 ____________________________________________________ */

div#blog{
    width: 900px;
    float: left;
    margin-left:20px;
}
    
div#blog div#blog_content {
    width: 450px;
    float: left;
}
    
    div#blog_advert {
        text-align: center;
    }
    
    div#blog h2 {
        font: Bold 26px Helvetica, sans-serif;
        margin: 0px;
    }
        
    div#blog h2 a {
        text-decoration: none;
    }
        
    div#blog div.blog_post {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: solid 1px #ddd;
    }
        
    div#blog div.blog_post div.date {
        font-size: 11px;
    }
        
    div#blog div.read_more {
        text-align: center;
        font-size: 14px;
        margin: 5px;
    }
        div#blog div.read_more a {
            font-weight: bold;
        }


    
    div#blog div#aux div#recentposts {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    div#blog div#aux div#recentposts ul {
        text-align: left;
        font-size: 10px;
        list-style: disc;
        padding-left: 10px;
        
    }
    
    div#blog div#aux div#recentposts ul li{
        padding: 2px;
    }
    
    div#blog div#aux div#recentposts ul li a{
        text-decoration: none;
    }
    
    div#blog div#aux {
      width: 200px;
      float: right;
      margin-left: 20px;
    }

    /** TAGS **/
div#right_column div#recent_episodes #tag_cloud ul li{
    border-style: none;    
}

#tag_cloud {
    margin-top: 30px;
    margin-bottom: 30px;
}
    
   #tag_cloud h2 {
   }
   #tag_cloud a {
   }
   div#tag_cloud ul li{
       display: inline;
       list-style-type: none;
       padding-left: 1px;
       padding-right: 1px;
   }

#tags {
    margin-top: 10px;
}
    #tags a {
        padding-left: 1px;
        padding-right: 1px;
    }

/** Tag Results **/ 

#tag_element_div ul { 
 list-style:  none; 
}

#tag_element_list {
 background: #eee;
 width: 100%;
 margin: 1em 40px; 
 border-top: 1px solid #ccc;
 border-left: 1px solid #ccc;
 padding: 5px;
}

#tag_element_list a {
 font: Bold 14px Helvetica, sans-serif;
 color: #008;
}

#tag_element {
 padding: 10px;
}

 
    
/* Right Advertisement */    

div#right_advert{
    float: right;
    margin: 20px 0 0 20px;
}

/** left_advert found with 
    blog_headlines styling **/
    
/* Submission
 ------------------------------------------- */
#submit #container #content {
    width: 1000px;
}
   
#submit #container #content h1 {
    width: 100;
    text-align: center;
    margin: 20px 0 20px 0;
}

#submit #container #content form {
    width: 450px;
    margin: 0 auto 0 auto;
}

/* Privacy Policy
 _______________________________________ */
div#privacy_policy {
    margin: 0 0 0 20px;
}
 
/* Terms of Use 
 ________________________________________*/
div#terms_of_use {
    margin: 0 0 0 20px;
}

/* Infringement 
 _________________________________________*/
div#infringement_policy {
    margin: 0 0 0 20px;
}

/* Thanks Page
 _________________________________________*/
 #thanks div#container div#content {
     background-color: #fff;
     width: 1000px;
 }

 div#thanks_page {
     margin: 20px 0 0 20px;
}

/* Terms of Use 
 ________________________________________*/
 div#subscribe_page {
    margin: 0 0 0 20px;
}

div#subscribe_page div#subscribe {
    width: 150px;
    float: left;
}

div#subscribe_page #subscribe_info {
    width: 500px;
    float: left;
    padding: 10px;
}