
/* このページを編集するとサイト全体での外装 monobook のカスタマイズになります */
/*<pre><nowiki>*/

/* MediaWiki:Uncyclopedia.css を読み込み */
@import "index.php@title=MediaWiki%253AUncyclopedia.css&amp;usemsgcache=yes&amp;action=raw&amp;ctype=text%252Fcss&amp;smaxage=18000.css";

body { font-family:　"Hiragino Kaku Gothic Pro", sans-serif; }
#bodyContent { font-size:118% }
#titlehack { font-size:84.7457627119%; } /* {{タイトル}}のフォントサイズ調整 */

#MainPageSearchForm form input#search,
#MainPageSearchForm form input[name=search]
	{
	width:25em;
	margin: 0.5em !important;
	padding: 0.05em !important;
	border:thin solid rgb(150,150,150);
	background-color:rgb(240,240,240);
	font-size:medium;
	}
#MainPageSearchForm form input#search:hover,
#MainPageSearchForm form input[name=search]:hover
	{
	border-color:rgb(130,130,130);
	background-color:rgb(245,245,245);
	}

#MainPageSearchForm form input#search:focus,
#MainPageSearchForm form input[name=search]:focus
	{
	border-color:rgb(100,100,100);
	background-color:rgb(255,255,255);
	}
#MainPageSearchForm form input[type=submit]
	{
	margin:0 0.2em;
	padding: 0.1em 1em;
	border:thin solid rgb(130,130,130);
	background-color:rgb(210,210,210);
	}
#MainPageSearchForm form input[type=submit]:hover
	{
	border-color:rgb(120,120,120);
	background-color:rgb(200,200,200);
	}

#MainPageSearchForm form input[type=submit]:active
	{
	border-color:rgb(100,100,100);
	background-color:rgb(170,170,170);
	}
/*</nowiki></pre>*/