/* 

'''Note:''' Anything that is not default-skin-specific can go into [[MediaWiki:Common.css]]

Tools: [http://uncyclopedia.org/index.php?title=MediaWiki:Uncyclopedia.css&action=raw&ctype=text/css&smaxage=18000 reload cache] | [http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Funcyclopedia.org%2Findex.php%3Ftitle%3DMediaWiki%3AUncyclopedia.css%26action%3Draw%26ctype%3Dtext%2Fcss%26smaxage%3D18000&usermedium=all check w3c validation]

<pre><nowiki>*/

/* **************************************************** */
/*           uncyclopedia monobook stylings             */
/* **************************************************** */
/* This is to keep Uncyclopedia's look separate, even
   after the upcoming planned partial skin merge, where
   uncyclopedia's main.css will be the same as Wikia's  */

body {
    background: #f9f9f9 url("../images.wikia.com/uncyclopedia/images/a/a4/Orchidbg3.jpg") 0px 0px no-repeat;
}
.content-noads {
    margin: 2.8em 0 0 12.2em;
    border-right: none;
}
.content-ads {
    margin: 2.8em 0 0 12.2em;
    border-right: none;
}
#f-hostedbyico {
    margin: 0 8px;
    position: relative;
    top: -2px; /* Bump it up just a tad */
    float: right;
    height: 1%;
}
#p-cactions li.selected {
    border-color: #fabd23;
    padding: 0 0 .2em 0;
    font-weight: normal;
}
#p-cactions li.selected a {
    padding: 0 0.8em 0.3em 0.8em !important; 
    background-color: white;
}
#p-navigation a { display: inline; }

/* **************************************************** */
/*                     end of line                      */
/* **************************************************** */
 
/* Bottom box borders. -Paulgb */
.pBody {
padding-top: 3px;
border-bottom: 1.4px solid rgb(170, 170, 170);
}
 
/* White borders for images on non-white backgrounds. Updated to only work when needed. 
To use, add: <nowiki><div class="nonwhite">[[Image:Imagetag]]</div></nowiki> <!-- Ignore the <nowiki></nowiki> --> -Paulgb */
.nonwhite div.thumb {
border: none;
margin-top: 10px;
margin-bottom: 0px;
}
.nonwhite div.tleft { border: none; }
.nonwhite div.tright { margin-left: 13px; }

/* Forum formatting -Algorithm & -Splaka */
.forumheader { border: 1px solid #aaa; background-color: #f9f9f9; margin-top: 1em; padding: 12px; }
.forumlist td span { display: block; padding-left: 10px; font-size: smaller }
.forumlist td span a { text-decoration: none; }
.forumlist td span.forum_author { padding-left: 30px; }
.forumlist td.forum_edited a { text-decoration: none }
.forumlist td.forum_title a { padding-left: 20px; }
.forumlist td.forum_title span a { padding-left: 0px }
.forumlist td.forum_title a.forum_new { font-weight: bold; background: url(../images.wikia.com/uncyclopedia/images/1/11/Newmsg.png) center left no-repeat; padding-left: 20px; }
.forumlist td.forum_title a.forum_new:visited { font-weight: normal; background: none; padding-left: 20px; }
.forumlist th.forum_title { padding-left: 20px; }

.forumborder { border-collapse: collapse }
.forumborder td { border-top: solid #aaa 1px }

/* Maintenance formatting -Algorithm */
.expired td.forum_title a { font-weight: bold }
.expired td.forum_title a.forum_new { font-weight: normal }

/* custom namespace logos (still under testing, this only works on full namespaces) -Splaka */
/* Image: and Image_talk: */
body.ns-6 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/d/d5/Uncyclomedia_Commons.png) !important; }
body.ns-7 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/d/d5/Uncyclomedia_Commons.png) !important; }
/* UnNews: and UnNews_talk: */
body.ns-102 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/0/02/UnNews_Logo_Potato.png) !important; }
body.ns-103 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/0/02/UnNews_Logo_Potato.png) !important; }
/* Undictionary: and Undictionary_talk: */
body.ns-104 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/4/47/Undictionary_Logo_Text.png) !important; }
body.ns-105 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/4/47/Undictionary_Logo_Text.png) !important; }
/* Game: and Game_talk: */
body.ns-106 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/9/92/Game-Logo.png) !important; }
body.ns-107 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/9/92/Game-Logo.png) !important; }
/* Forum: and Forum_talk: */
body.ns-110 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/6/61/Forum_Logo_Soapboxes.png) !important; }
body.ns-111 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/d/db/Forum_talk.png) !important; }
/* UnTunes: and UnTunes_talk: */
body.ns-112 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/b/bf/UnTunes.png) !important; }
body.ns-113 #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/b/bf/UnTunes.png) !important; }

/* page-specific namespace logos -Algorithm */
body.page-User_talk_Algorithm_CSS_Help #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/thumb/c/c7/Guilt.jpg/130px-Guilt.jpg) !important; }
body.page-Polish_Inquisition #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/5/53/Guiltopedia.png) !important; }
body.page-Plagiarism #p-logo a { background-image: url(../images.wikia.com/uncyclopedia/images/7/7f/Wikipedia-logo-en.png) !important; }

/* default coloring for Special:Allmessages (missing from our default skin) -Spl 09:21, 9 March 2006 (UTC) */
#allmessagestable th { background-color: #b2b2ff; }
#allmessagestable tr.orig { background-color: #ffe2e2; }
#allmessagestable tr.new { background-color: #e2ffe2; }
#allmessagestable tr.def { background-color: #f0f0ff; }

/* this is to force title-left, title-right, and Title-center to display only in the default skin -Spl */
#titlehack { display:inline !important; }

/* comment boxes adapted from french wikipedia. Applied to Forum_talk: currently -keitei */
.ns-111 #content, .ns-111 #p-cactions li, .ns-111 #p-cactions li a {background: #F8FCFF;}
.ns-111 dd { margin: 0; padding: 0; }
.ns-111 dl { border-top: solid 1px #70E0E0; border-left: solid 1px #70E0E0; padding-top: 0.5em; padding-left: 0.5em; margin-left: 1em; }
.ns-111 dl { background-color: #EEF6FF; }
.ns-111 dl dl { background-color: #F8FCFF; }
.ns-111 dl dl dl { background-color: #EEF6FF; }
.ns-111 dl dl dl dl { background-color: #F8FCFF; }
.ns-111 dl dl dl dl dl { background-color: #EEF6FF; }
.ns-111 dl dl dl dl dl dl { background-color: #F8FCFF; }
.ns-111 dl dl dl dl dl dl dl { background-color: #EEF6FF; }
.ns-111 dl dl dl dl dl dl dl dl { background-color: #F8FCFF; }
.ns-111 dl dl dl dl dl dl dl dl dl { background-color: #EEF6FF; }
.ns-111 dl dl dl dl dl dl dl dl dl dl { background-color: #F8FCFF; }
.ns-111 dl dl dl dl dl dl dl dl dl dl dl { background-color: #EEF6FF; }
.ns-111 dl dl dl dl dl dl dl dl dl dl dl dl { background-color: #F8FCFF; }
.ns-111 dl dl dl dl dl dl dl dl dl dl dl dl dl { background-color: #EEF6FF; }
.ns-111 dl dl dl dl dl dl dl dl dl dl dl dl dl dl { background-color: #F8FCFF; }


/* NavFrame, aka box hiding thingy from Wikipedia */
div.Boxmerge,
div.NavFrame {
        margin: 0px;
        padding: 2px;
        border: 1px solid #aaaaaa;
        text-align: center;
        border-collapse: collapse;
        font-size: 95%;
}
div.Boxmerge div.NavFrame {
        border-style: none;
        border-style: hidden;
}
div.NavFrame + div.NavFrame {
        border-top-style: none;
        border-top-style: hidden;
}
div.NavPic {
        background-color: #ffffff;
        margin: 0px;
        padding: 2px;
        float: left;
}
div.NavFrame div.NavHead {
        height: 1.6em;
        font-weight: bold;
        font-size: 100%;
        background-color: #efefef;
        position:relative;
}
div.NavFrame p {
        font-size: 100%;
}
div.NavFrame div.NavContent {
        font-size: 100%;
}
div.NavFrame div.NavContent p {
        font-size: 100%;
}
div.NavEnd {
        margin: 0px;
        padding: 0px;
        line-height: 1px;
        clear: both;
}
a.NavToggle {
        position:absolute;
        top:0px;
        right:3px;
        font-weight:normal;
        font-size:smaller;
}
/* End NavFrame */

/* Temporary editsection fix until uncyclopedia/main.css can be merged/updated */

h1 { font-size: 188%; }
h1 .editsection { font-size: 53%; }
h2 { font-size: 150%; }
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}
h3 { font-size: 132%; }
h3 .editsection { font-size: 76%; font-weight: normal; }
h4 { font-size: 116%; }
h4 .editsection { font-size: 86%; font-weight: normal; }
h5 { font-size: 100%; }
h5 .editsection { font-weight: normal; }
h6 { font-size: 80%;  }
h6 .editsection { font-size: 125%; font-weight: normal; }

.editsection {
	float: right;
	margin-left: 5px;
}
* html div.editsection { font-size: smaller; }

/* Spotlight fix */

#graphicalspotlight1 { width:12em !important;}
#graphicalspotlight1 table {margin:auto}

/* For mini sitenotice (comment out when sienotice finishes) */
#siteNotice table { position: absolute !important; top: -4.1em; left: 2em; font-size: 80% !important; font-style: italic; background: none !important;  width: 35em; white-space: nowrap }

/*</nowiki></pre>*/