/* CSS placed here will be applied to all skins [[Category:User CSS| ]] [[Category:WoWWiki]] */

 /* --- FIXES --- */
 
 /* quick fix for darker red links problem */
 a.new {
  color: #F05048;
 }
 
 /* to remove the external link icon from sortable tables */
 #bodyContent a.sortheader { 
  background: none; 
  padding-right: 0; 
 }
 
 /* fixes spacing after using plainlinks class to remove arrow */
 #bodyContent .plainlinks a {
        background: none !important;
        padding: 0 !important;
 }

 /* --- PERSONAL LINKS --- */
 
 /* icon change */
 li#pt-userpage, li#pt-anonuserpage, li#pt-login { 
  background: url(images/4/49/UserIcon.png) no-repeat;
 }
 
 /* self spacing, bold */
 #p-personal {
  font-weight: bold;
  padding: 4px 0px 3px 0px;
 }
 
 /* content spacing */
 #column-content, #p-cactions {
  margin-top: 5px;
 }
 
 /* removing a little wasted space */
 #p-personal UL {
  padding-right: 1em;
 }

 /* --- RC LIST --- */
 
 /* rc list byte-change colours */
 .mw-plusminus-neg { color: #8B0000; }
 .mw-plusminus-pos { color: #006400; }
 .mw-plusminus-null { color: #666; }
 
 /* move namespace bit on RC to the right */
 div.namespacesettings {
  float: right;
  clear: none;
  position: relative;
  top: -4em;
  width: 160px;
  border: 1px dotted #606060;
  background: #EEE;
  padding: 4px;
  font-size: 90%;
 }
 
 /* colour 'N' and 'm' */
 .newpage { color: #A56C40; }
 .minor { color: #666; }

 /* --- SMALLER TEMPLATES USED TEXT --- */
 
 .templatesUsed ul { font-size:90% }

 /* --- [[SPECIAL:ALLPAGES]], CATEGORY REDIRECT TWEAKS --- */
 
 .redirect-in-category, .allpagesredirect { font-style: italic; }
 .allpagesredirect:after { color: #808080; content: " (redirect)"}

 /* --- REFERENCE STYLES --- */
 
 /* make the list of references look smaller */
 ol.references { font-size: 100%; }
 
 .references-small { font-size: 90%;}
 
 /* VALIDATOR NOTICE: the following is correct, but the W3C validator doesn't accept it */
 /* -moz-* is a vendor-specific extension (CSS 2.1 4.1.2.1) */
 /* column-count is from the CSS3 module "CSS Multi-column Layout" */
 /* Please ignore any validator errors caused by these two lines */
 .references-2column {
  font-size: 90%;
  -moz-column-count:2;
  column-count:2;
 }
 
 .same-bg { background: none }
 
 /* Highlight clicked reference in blue to help navigation */
 
 ol.references > li:target {
  background-color: #ccf;
 }
 
 sup.reference:target { 
  background-color: #ccf;
 }

 /* --- YOU HAVE NEW MESSAGES BAR --- */
 
 /* prettified */
 .usermessage, .usermessage plainlinks {
  border: 2px solid #ee8500;
  margin: 0.5em 0em 0.5em 0em;
  padding: 0.5em;
  vertical-align: middle;
 }

 /* --- TAB STYLES --- */
 
 /* for "edit this page" tab and "discussion" tab etc */
 .tab {
      border-style: solid solid none;
      border-width: thin;
      border-color: #808080;
      padding:0.25ex 1ex 0ex;
      font-size: 95%;
    }

 /* --- NAVFRAME STUFF --- */
 /* Standard Navigationsleisten, aka box hiding thingy from .de. */
 /* Documentation at [[wikipedia:Wikipedia:NavFrame]]. */
 div.Boxmerge,
 div.NavFrame {
    margin: 0px;
    padding: 4px;
    border: 1px solid #aaa;
    text-align: center;
    border-collapse: collapse;
    font-size: 95%;
 }
 div.Boxmerge div.NavFrame {
    border-style: none;
    border-style: hidden;
 }
 div.NavFrame + div.NavFrame {
    border-top-style: none;
    border-top-style: hidden;
 }
 div.NavPic {
    background-color: #fff;
    margin: 0px;
    padding: 2px;
    float: left;
 }
 div.NavFrame div.NavHead {
    height: 1.6em;
    font-weight: bold;
    background-color: #ccf;
    position:relative;
 }
 div.NavFrame p {
    font-size: 100%;
 }
 div.NavFrame div.NavContent {
    font-size: 100%;
 }
 div.NavFrame div.NavContent p {
    font-size: 100%;
 }
 div.NavEnd {
    margin: 0px;
    padding: 0px;
    line-height: 1px;
    clear: both;
 }
 a.NavToggle {
    position:absolute;
    top:0px;
    right:3px;
    font-weight:normal;
    font-size:smaller;
 }


 /* --- TOOLTIP --- */
 
 /* WoW Style Tooltip */
 .tooltip {
  font-size: 1em;
  float: left;
  width: 18em;
  min-width: 15em;
  padding: 0.3em;
  margin: 5px;
  color: #fff;
  background-color: #111;
  border: 1px #bbb solid;
  -moz-border-radius: 0.75ex;
 }
 
 .tooltip ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  list-style-image: none;
 }
 
 .itemtooltip {
  text-align: left
 }

 /* --- TABLE DESIGNS --- */
 
 /* default skin for navigation boxes */
 table.navbox {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    clear: both;
    font-size: 90%;
    margin: 1em 0em 0em;
    padding: 2px;
    text-align: center;
    width: 100%;
 }
 
 table.navbox th {
    background-color: #ccf;
    padding-left: 1em;
    padding-right: 1em;
 }
 table.navbox tr:not(:first-child) th {
    background-color: #ddf;
 } 
 @media print {
    .navbox { display: none; }
 }
 
 /* dark table style */
 table.darktable {
  border: 1px solid #aaa;
  padding: 5px;
  background: #F9F9F9;
  font-size: 89%;
  margin: 0.5em 0em 1em 0.5em;
 }
 table.darktable th {
  background-color: #ccf;
  padding: 0 0.5em;
 }
 table.darktable caption {
  font-size: 120%;
  font-weight: bold;   
 }
 table.darktable tr:not(:first-child) th {
    background-color: #ddf;
 }
 
 /* title stuff */
 .title {
  background-color: #ddf;
  text-align:center;
  font-weight:bold;
  padding: 1px 2px;
 }
 
 .alt {background-color: #e9e9ff; }
 
 table .hover:hover { background-color: orange; } /* for occasions where a table element */
 /*  is class="hover": for legibility in larger tables */

 /* --- MAIN PAGE STYLES --- */
 
 /* generic table */
 .mainpagetable {
  width:100%;
  border:2px solid #777;
  margin-bottom:5px;
  font-size:95%;
 }
 
 /* darkgreen header */
 .mainpagetabledarkgreen {
  background-color:#8AC4B4;
 }
 
 /* green body */
 .mainpagetablegreen {
  background-color:#A2CCBE;
 }
 
 /* darkblue header */
 .mainpagetabledarkblue {
  background-color:#A0A2B8;
 }
 
 /* blue body */
 .mainpagetableblue {
  background-color:#BABBD0;
 }
 
 /* darkred header */
 .mainpagetabledarkred {
  background-color:#BDACAC;
 }
 
 /* red body */
 .mainpagetablered {
  background-color:#D7C6C6;
 }

 /* --- GENERAL TEMPLATE DESIGNS --- */
 
 /* bg for wowbox */
 .wowboxbg {
  background-color:#DDD;
 }
 
 /* making certain links black on monobook */
 .speciallink {
  color:black;
 }
 
 /* disambig, i-note design */
 .greybar {
  color: #000;
  background-color: #DDD;
  border-top: 1px #606060 solid;
  border-bottom: 1px #606060 solid; 
 }
 
 /* band, in use by [[template:infoline]] */
 .band { display:table; 
         margin: 0.2ex 3em; 
         text-align: center; 
         padding: 1ex 3em 0.5ex; 
         line-height:130%; }

 /* --- {{t|Ambox}} TEMPLATE DESIGNS --- */
 
 /* {{t|Ambox}} design */
 .ambox {
  font-size: 95%;
  width: 80%; 
  margin: 0 auto;
  border: 1px #AAA solid;
  border-left: 10px solid #228b22;
  border-collapse: collapse;
  background-color: #EEE;
 }
 
 /* {{t|Ambox}} colours */
 .ambox-blue {
  border-left: 10px solid #1e90ff;       /* Blue (notice) */
 }
 .ambox-red {
  border-left: 10px solid #b22222;       /* Red (delete/serious) */
 }
 .ambox-orange {
  border-left: 10px solid #f28500;       /* Orange (content) */
 }
 .ambox-yellow {
  border-left: 10px solid #f4c430;       /* Yellow (style) */
 }
 .ambox-purple {
  border-left: 10px solid #9932cc;       /* Purple (merge) */
 }
 .ambox-gray {
  border-left: 10px solid #bba;          /* Gray (protection) */
 }
 .ambox-green {
  border-left: 10px solid #228b22;       /* Green */
 }
 
 /* {{t|Ambox}} small text */
 .amsmalltext {
  font-size: smaller;
  margin-top:0.5em;
  margin-left:0.8em;
 }
 
 /* {{t|Ambox}} image */
 .ambox-image {                          /* The left image cell */
  width: 60px; 
  padding: 2px 0px 2px 0.5em;            /* 0.5em left, 0px right */
  text-align: center; 
 }

 /* --- COLOURS --- */
 
 /* Blizz text colour */ 
 .blizztext {
  color:#0070af;
 }
 
 /* Item Quality Colors */ 
 .qc-artifact, .qc-artifact a { color: #E5CC80; }
 .qc-legendary, .qc-legendary a { color: #F07902; }
 .qc-epic, .qc-epic a { color: #B048F8; }
 .qc-rare, .qc-rare a { color: #0080FF; }
 .qc-uncommon, .qc-uncommon a { color: #1EFF00; }
 .qc-common, .qc-common a { color: #000000; }
 .qc-poor, .qc-poor a { color: #9D9D9D; }

 .qc-enchant, .qc-enchant a { color:#ffd100; }

 /* Class Colors */
 .cc-druid, .cc-druid a { color: #FF7D0A; }
 .cc-hunter, .cc-hunter a { color: #ABD473; }
 .cc-mage, .cc-mage a { color: #69CCF0; }
 .cc-paladin, .cc-paladin a { color: #F58CBA; }
 .cc-priest, .cc-priest a { color: #FFFFFF; }
 .cc-rogue, .cc-rogue a { color: #FFF569; }
 .cc-shaman, .cc-shaman a { color: #2459FF; }
 .cc-warlock, .cc-warlock a { color: #9482CA; }
 .cc-warrior, .cc-warrior a { color: #C79C6E; }
 
 .druid, .druidalt {color: white;}
 .druid {background-color: #7f3e05;}
 .druidalt { background-color: #663300;}
 .druid a, .druidalt a {color: #ff7f0a;}
 
 .hunter, .hunteralt {color: white;}
 .hunter {background-color: #445533;}
 .hunteralt {background-color: #334422;}
 .hunter a, .hunteralt a {color: #ABD473;}
 
 .mage, .magealt {color: white; /* border: solid 1px #69ccf0; */ }
 .mage {background-color: #4488aa;}
 .magealt {background-color: #336677;}
 .mage a, .magealt a {color: #66ccff;}
 
 .paladin, .paladinalt {color: white; /* border: solid 1px #442233; */ }
 .paladin {background-color: #883355;}
 .paladinalt {background-color: #662244;}          /* for alternating lines in some tables */
 .paladin a, .paladinalt a {color: #ff99cc;}
 
 .priest, .priestalt {color: white;}
 .priest {background-color: #777777;}
 .priestalt {background-color: #444444;}
 .priest a, .priestalt a {color: #bbbbbb;}
 
 .rogue, .roguealt {color: white;} /* rogue colors look horrendous atm, imo */
 .rogue {background-color: #555500;}
 .roguealt {background-color: #444400;}
 .rogue a, .roguealt a {color: #fff569;}
 
 .shaman, .shamanalt {color: white;}
 .shaman {background-color: #112277;}
 .shamanalt {background-color: #112255;}
 .shaman a, .shamanalt a {color: #2459FF;}
 
 .warlock, .warlockalt {color: white; /* border: solid 1px #550077; */ }
 .warlock {background-color: #331155;}
 .warlockalt {background-color: #220044;}
 .warlock a, .warlockalt a {color: #cc99ff;}
 
 .warrior, .warrioralt {color: white;}
 .warrior {background-color: #775533;}
 .warrioralt {background-color: #443322;}
 .warrior a, .warrioralt a {color: #C79C6E;}


  /* Item Tooltips */
 /* div.itemtooltip li a {color: inherit} would ideally replace most a declarations here, */
 /* but IE support is lacking. */
 div.itemtooltip {min-width: 15em; padding: 0.3em; margin: 5px;
 background-color: #111; border: 1px #bbb solid; -moz-border-radius: 0.75ex;
 }
 div.itemtooltip ul {margin: 0; padding: 0; list-style: none; list-style-type: none; list-style-image: none;}
 div.itemtooltip, div.itemtooltip li, div.itemtooltip li a {color: #fff}
 div.itemtooltip li.socket,  div.itemtooltip li.socket a {color: #999}
 div.itemtooltip li.req, div.itemtooltip li.req a {color: #999}
 div.itemtooltip li.locked, div.itemtooltip li.locked a {color: #d22}
 div.itemtooltip li.bonus, div.itemtooltip li.bonus a {color: #0f0}
 div.itemtooltip li.flavor, div.itemtooltip li.flavor a {color: #ffd517}
 div.itemtooltip li.detail, div.itemtooltip li.detail a {color: #66c}
 div.itemtooltip li.set, div.itemtooltip li.set a {color: #ffd100}
 div.itemtooltip li.setbonus, div.itemtooltip li.setbonus a {color: #999}

 /* PLAINLINKS (see wikipedia:Common.css */
 .plainlinksneverexpand {
    background: none ! important;
    padding: 0 ! important;
 }
 
 .plainlinksneverexpand .urlexpansion { display: none ! important; }
 .plainlinksneverexpand a {
    background: none !important;
    padding: 0 !important;
 }
 
 .plainlinksneverexpand a.external.text:after { display: none !important; }
 .plainlinksneverexpand a.external.autonumber:after { display: none !important; }

 /* USERBOXES */
 table.wwusrbox {float: left; margin: 0.2em; padding: 0; border-width: 1px; border-style: solid}
 table.wwusrbox td.left, table.wwusrbox td.right {text-align: center; vertical-align: middle; font-size: 1.6em}
 table.wwusrbox td.main {padding: 0 4px; vertical-align: middle; line-height: 125%; font-size: 0.90em}