 /* CSS placed here will be applied to the default WoWWiki skin */

 /* --- OVERALL/BODY --- */
 
 /* change background to be more interesting */
 body {
  background-image: url(images/7/7d/Background.gif);
  background-color: #1E1E1E;
 }
 
 /* links get orange colour on select */
 a:active { color: #faa700; }
 #bodyContent a.extiw:active, #bodyContent a.external:active {
  color: #faa700;
 }
 
 /* quick fix for darker red links problem */ 
 a.new {
  color: #F05048 !important;
 }

 /* --- CONTENT --- */
 
 /* hr consistent with section titles */
 HR { color: #888; background-color: #888; }
 
 /* thumbnail changes - darker design; smaller, bold text */
 DIV.thumb DIV { border: #606060 1px solid; font-size: 90%; background-color: #202020; }
 DIV.thumb DIV A IMG { border: #444 1px solid; }
 DIV.thumb DIV DIV.thumbcaption { font-weight:bold; }

 /* --- SIDEBAR --- */
 
 /* slightly darker sidebar borders (though the whole area is ugly as sin anyway) */
 .pBody { border: 1px solid #888; }

 /* --- TABS --- */
 
 /* slightly changes yellow color and text colour on tabs */
 #p-cactions li.selected, #p-cactions li.selected a {
  border-color: #FFD700;
  color: #ccc;
 }
 
 /* darken background of (unselected) tabs */
 #p-cactions ul li a { background: #2B2B2B; }
 
 /* restore background of selected tabs */
 #p-cactions ul li.selected a { background: #333333; }
 
 /* darken border background of unselected tabs */
 #p-cactions li a { border-color: #808080; }
 
 /* change on hover bg to content color */
 #p-cactions li a:hover { background: #333333; border-color: #aaa; }

 /* --- FOOTER --- */
 
 /* darker bg, remove margin */
 #footer {
  background-color: #222222;
  margin: 0px;
  margin-bottom: 4px;
 }

 /* --- PERSONAL LINKS --- */
 
 /* icon change */
 li#pt-userpage, li#pt-anonuserpage, li#pt-login { 
  background: url(images/1/12/UserIcon.gif) no-repeat;
 }
 
 /* self spacing, bold */
 #p-personal {
  font-weight: bold;
  padding: 4px 0px 3px 0px;
 }
 
 /* content spacing */
 #column-content, #p-cactions {
  margin-top: 5px;
 }
 
 /* removing a little wasted space */
 #p-personal UL {
  padding-right: 1em;
 }

 /* --- RC LIST --- */
 
 /* rc list byte-change colours */
 .mw-plusminus-neg { color: #FFA932; }
 .mw-plusminus-pos { color: #4EFF43; }
 .mw-plusminus-null { color: #AAAAAA; }
 
 /* move namespace bit on RC to the right */
 div.namespacesettings {
  float: right;
  clear: none;
  position: relative;
  top: -4em;
  width: 160px;
  border: 1px dotted #606060;
  background: #292929;
  padding: 4px;
  font-size: 90%;
 }
 
 /* colour 'N' and 'm' */
 .newpage { color: #E5CC80; }
 .minor { color: #BBB; }

 /* --- REFERENCE STYLES --- */
 
 /* Highlight clicked reference in blue to help navigation */
 
 ol.references > li:target {
  background-color: #35586C;
 }
 
 sup.reference:target { 
  background-color: #35586C;
 }

 /* --- HISTORY --- */
 
 /* hidden unselected border */
 #pagehistory li {
  border: #333 1px dotted;
  border-top: #404040 1px dotted;
 }
 
 /* change selected border */
 #pagehistory li.selected {
  border: #404040 1px solid;
  background: #252525;
 }

 /* --- DIFF --- */
 
 /* alter overall diff background */
 table.diff {
  background:#191919;
 }
 
 /* alter title diff background */
 td.diff-otitle, td.diff-ntitle {
  background:#191919;
 }
 
 /* border around the diff box, spacing */
 .diff {
  border: 1px solid #606060;
  margin-bottom: 0px;
 }
 
 /* individual line backgrounds */
 TD.diff-deletedline { background: #331100; }
 TD.diff-addedline { background: #113300; }
 TD.diff-context { background: #252525; }
 
 /* lighter red for readability */
 SPAN.diffchange { color: #f44; }
 
 /* ins and del overrides */
 ins {
  color:#9F9;
  text-decoration:none;
  font-weight:bold;
 }
 del {
  color:#F77;
  text-decoration:none;
  font-weight:bold;
 }

 /* --- PREFERENCES --- */
 
 /* overall better design */
 #preftoc a, #preftoc a:active { border:none; color: #ffffff; }
 #preferences { background-color: #292929; border-color: #606060; }
 #preftoc LI { border: none; font-weight: bold; padding: 6px 8px 6px 8px; margin: 0px 0px 0px 6px; }
 #preftoc LI.selected { background-color: #292929; border-color: #606060; border-bottom: 1px solid #292929; margin: 1px -1px 1px 5px; }
 .prefsection LEGEND { background-color: #292929; }
 .prefsection TABLE { background-color: #292929; }
 DIV.prefsectiontip { background-color: #292929; }

 /* --- TABLE STYLES --- */
 
 /* remove table bg */
 table { background-color: transparent; }
 
 /* dark table style */
 table.darktable {
  border: 1px solid #606060;
  padding: 5px;
  background: #202020;
  font-size: 90%;
 }
 
 table.darktable th {
  background-color: #113A5E;
  padding: 0 0.5em;
 }
 
 table.darktable caption {
  font-size: 120%;
  font-weight: bold;   
 }
 
 table.darktable tr:not(:first-child) th {
   background-color: #112A44;
 }
 
 /* navbox style */
 table.navbox {
  background-color: #202020;
  border: 1px solid #606060;
  clear: both;
  font-size: 90%;
  margin: 1em 0em 0em;
  padding: 2px;
  text-align: center;
  width: 100%;
 }
 
 table.navbox th {
  background-color: #333;
 }
 
 table.navbox tr:not(:first-child) th {
   background-color: #2C2C2C;
 }
 
 .title {
  background-color: #2c2c2c;
  text-align:center;
  font-weight:bold;
 }
 
 div.NavFrame {
        border: 1px solid #606060;
 }
 
 div.NavFrame div.NavHead {
        background-color: #333;
 }
 
 /* alt row colouring */
 .alt {background-color: #2c2c2c; }

 /* --- CAPTCHA FIX --- */
 
 /* background color for captcha on account sign up */
 div#userlogin .captcha {
  background-color: #333333 !important;
 }

 /* --- MAIN PAGE STYLES --- */
 
 /* generic table */
 .mainpagetable {
  width:100%;
  color:white;
  border:2px solid #191919;
  margin-bottom:5px;
  font-size:95%;
 }
 
 /* darkgreen header */
 .mainpagetabledarkgreen {
  background-color:#1A2424;
 }
 
 /* green body */
 .mainpagetablegreen {
  background-color:#222C2E;
 }
 
 /* darkblue header */
 .mainpagetabledarkblue {
  background-color:#202228;
 }
 
 /* blue body */
 .mainpagetableblue {
  background-color:#2A2B30;
 }
 
 /* darkred header */
 .mainpagetabledarkred {
  background-color:#2D1C1C;
 }
 
 /* red body */
 .mainpagetablered {
  background-color:#372626;
 }

 /* --- COMMON QUALITY CHANGED TO WHITE --- */
 
 .qc-common, .qc-common a { color: #FFFFFF; }

 /* --- TEMPLATE DESIGNS --- */
 
 /* disambig, i-note design */
 .greybar {
  color: #EEE;
  background-color: #2c2c2c;
  border-top: 1px #606060 solid;
  border-bottom: 1px #606060 solid; 
 }
 
 /* [[Template:Ambox]] design */
 .ambox {
  border: 1px #606060 solid;
  background-color: #404040;
 }
 
 /* {{t|Ambox}} colours */
 .ambox-blue {
  border-left: 10px solid #1e90ff;       /* Blue (notice) */
 }
 .ambox-red {
  border-left: 10px solid #b22222;       /* Red (delete/serious) */
 }
 .ambox-orange {
  border-left: 10px solid #f28500;       /* Orange (content) */
 }
 .ambox-yellow {
  border-left: 10px solid #f4c430;       /* Yellow (style) */
 }
 .ambox-purple {
  border-left: 10px solid #9932cc;       /* Purple (merge) */
 }
 .ambox-gray {
  border-left: 10px solid #bba;          /* Gray (protection) */
 }
 .ambox-green {
  border-left: 10px solid #228b22;       /* Green */
 }

 /* --- CLASS COLOURS --- */
 
 .druid, .druidalt {color: white;}
 .druid {background-color: #7f3e05;}
 .druidalt { background-color: #663300;}
 .druid a, .druidalt a {color: #ff7f0a;}
 /* .druid a:visited, .druidalt a:visited {#996600;} */
 
 .hunter, .hunteralt {color: white;}
 .hunter {background-color: #445533;}
 .hunteralt {background-color: #334422;}
 .hunter a, .hunteralt a {color: #ABD473;}
 /* .hunter a:visited, .hunteralt a:visited {color: #778844;} */
 
 .mage, .magealt {color: white; /* border: solid 1px #69ccf0; */ }
 .mage {background-color: #4488aa;}
 .magealt {background-color: #336677;}
 .mage a, .magealt a {color: #66ccff;}
 /* .mage a:visited, .magealt a:visited {color: #335566;} */
 
 .paladin, .paladinalt {color: white; /* border: solid 1px #442233;  */ }
 .paladin {background-color: #883355;}
 .paladinalt {background-color: #662244;}          /* for alternating lines in some tables */
 .paladin a, .paladinalt a {color: #ff99cc;}
 /* .paladin a:visited, .paladinalt a:visited {color: #ff33cc;} */
 
 .priest, .priestalt {color: white;}
 .priest {background-color: #444444;}
 .priestalt {background-color: #333333;}
 .priest a, .priestalt a {color: #bbbbbb;}
 /* .priest a:visited, .priestalt a:visited {color: #999999;} */
 
 .rogue, .roguealt {color: white;} /* rogue colors look horrendous atm, imo */
 .rogue {background-color: #555500;}
 .roguealt {background-color: #444400;}
 .rogue a, .roguealt a {color: #fff569;}
 /* .rogue a:visited, .roguealt a:visited {color: #cccc44;} */
 
 .shaman, .shamanalt {color: white;}
 .shaman {background-color: #112277;}
 .shamanalt {background-color: #112255;}
 .shaman a, .shamanalt a {color: #2459FF;}
 /* .shaman a:visited, .shamanalt a:visited {color: #2244bb;} */
 
 .warlock, .warlockalt {color: white;}
 .warlock {background-color: #331155;}
 .warlockalt {background-color: #220044;}
 .warlock a, .warlockalt a {color: #cc99ff;}
 /* .warlock a:visited, .warlockalt a:visited {color: #cc33cc;} */
 
 .warrior, .warrioralt {color: white;}
 .warrior {background-color: #775533;}
 .warrioralt {background-color: #443322;}
 .warrior a, .warrioralt a {color: #C79C6E;}
 /* .warrior a:visited, .warrioralt a:visited {color: #997755;} */

 /* --- OTHER --- */
 
 .wowboxbg {
  background-color:#3C3C3C;
 }
 
 .speciallink {
  color:white;
 }
 
 /* Blizz text colour, as used by blues in forums */
 .blizztext {
  color:#00c0ff;
 }

 /* Blizz link color, as used by blues in forums */
 .blizzlink {
  color:#ffac04;
 }

 /* Default userbox */
 table.wwusrbox {border-color: #444; background: #222}
 table.wwusrbox td.left, table.wwusrbox td.right {background: #161616}

 /* [[Category:User CSS| ]] [[Category:WoWWiki]] */