#siteSub { /* "From Wikipedia, the free encyclopedia" */
  display: inline; 
  font-size: 92%;  
  font-weight: normal;
}

#toc {margin-top: 0.5em}

#ca-edit a {font-weight: bold} /* encourage newcomers */

/* Light blue background except on articles and portals; need 32bit color to see difference */
#content, #p-cactions li a {background: #F8FCFF}
.ns-0 #content, .ns-100  #content, 
.ns-0 #p-cactions li a, .ns-100 #p-cactions li a {background-color: white}
div.thumb {border-color: #F8FCFF}
.ns-0 div.thumb, .ns-100 div.thumb {border-color: white}
form table {background: transparent}

/* Hide some stuff on the main page */
body.page-Заглавная_страница #t-cite,
body.page-Заглавная_страница #lastmod, 
body.page-Заглавная_страница #siteSub, 
body.page-Заглавная_страница #contentSub, 
body.page-Заглавная_страница h1.firstHeading {
  display: none !important
}

/* Smaller "Перейти" (Go) button, so buttons fit on one line */
#searchGoButton {padding: 0}

.portlet li { /* slightly different bullet */
  list-style-image: url('../../upload.wikimedia.org/wikipedia/en/1/18/Monobook-bullet.png')
}
.portlet li.FA { /* featured interwiki */
  list-style-image: url('../../upload.wikimedia.org/wikipedia/en/d/d4/Monobook-bullet-star.png')
}

/* Gecko rounded corners */
.pBody {
  -moz-border-radius-topright: 0.5em
}
#p-cactions ul li, #p-cactions ul li a { 	 
  -moz-border-radius-topright: 0.5em;
  -moz-border-radius-topleft: 0.5em;
}
#content {
  -moz-border-radius-topleft: 0.5em
}