# Sample Talos configuration file

# The title of the report
title: ts_addons

#*** output options ****
#uncomment to turn on dump to csv option
csv_dir: 'output'

branch: testbranch
buildid: testbuildid

# browser info
process : firefox
browser_path: ../firefox/firefox
browser_log: browser_output.txt
# arguments to pass to browser
extra_args: ''
#how long the browser takes to open/close
browser_wait: 5

# Preferences to set in the test (use "preferences : {}" for no prefs)
preferences : 
  browser.EULA.override : true
  security.fileuri.strict_origin_policy : false
  browser.shell.checkDefaultBrowser : false
  browser.warnOnQuit : false
  browser.link.open_newwindow : 2
  dom.allow_scripts_to_close_windows : true
  dom.disable_open_during_load: false
  dom.max_script_run_time : 0
  dom.max_chrome_script_run_time : 0
  browser.dom.window.dump.enabled: true
  network.proxy.type : 1
  network.proxy.http : localhost
  network.proxy.http_port : 80
  dom.disable_window_flip : true
  dom.disable_window_move_resize : true
  security.enable_java : false
  extensions.checkCompatibility : false
  extensions.update.notifyUser: false

extensions : {}

env : 
  NO_EM_RESTART : 1

init_url: getInfo.html

dirs : {}

tests :
- name: ts 
  url : startup_test/startup_test.html?begin=
  url_mod : str(int(time.time()*1000))
  resolution : 1 
  cycles : 3
  timeout: 150
  win_counters : []
  unix_counters : []
  mac_counters : []
  shutdown : True
  profile_path: /home/heather/.mozilla/firefox/7ilibqeq.persona
