branch: testbranch
browser_log: talos/boutput.txt
browser_path: firefox/firefox
browser_wait: 5
buildid: testbuildid
csv_dir: talos/output
dirs: {}
env:
  NO_EM_RESTART: 1
extensions: {}
extra_args: ''
init_url: talos/getInfo.html
preferences:
  browser.EULA.override: true
  browser.dom.window.dump.enabled: true
  browser.link.open_newwindow: 2
  browser.shell.checkDefaultBrowser: false
  browser.warnOnQuit: false
  dom.allow_scripts_to_close_windows: true
  dom.disable_open_during_load: false
  dom.disable_window_flip: true
  dom.disable_window_move_resize: true
  dom.max_chrome_script_run_time: 0
  dom.max_script_run_time: 0
  extensions.checkCompatibility: false
  extensions.update.notifyUser: false
  network.proxy.http: localhost
  network.proxy.http_port: 80
  network.proxy.type: 1
  security.enable_java: false
  security.fileuri.strict_origin_policy: false
process: firefox
tests:
- cycles: 3
  mac_counters: []
  name: ts
  profile_path: /home/heather/.mozilla/firefox/7ilibqeq.persona
  resolution: 1
  shutdown: true
  timeout: 150
  unix_counters: []
  url: talos/startup_test/startup_test.html?begin=
  url_mod: str(int(time.time()*1000))
  win_counters: []
title: test
