
#splash {
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	overflow: hidden;
}

#splash .splash-box {
	position: relative;
	width: 624px;
	height: 17em;
	margin: 0 auto;
}

#splash .splash-box h2 {
	text-align: left;
	font-size: 2.75em;
	color: #333;
}

#splash img {
	border: none;
	width: 312px; height: 162px;
}


/* CC+/CC0 */
#splash .splash-box-left {
	position: absolute;
	top: 4em; 
	left: 0;
	width: 312px;
}
#splash .splash-box-left p.info {
	color: #293a52;
}

#splash p.info {
	position: absolute;
	z-index: 100;
	/*top: 100px;
	left: 15px;
	width: 295px;
	font-size: 0.75em;*/
	top: 20px;
	left: 160px;
	width: 130px;
	font-size: 0.9em;
	text-align: left;
}

#splash .splash-box-right {
	position: absolute;
	top: 4em;
	left: 313px;
	width: 312px;
}

#splash .splash-box-right p.info {
	color: #125f4f;
}
