/* -- Overall -- */
body {
	margin: 0px 0px 20px 0px;
	color: #000;
	background-color: #fff;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	}

a { text-decoration: none; }
a:link { color: #06F; }
a:visited { color: #03c; }
a:active { color: #f00; }
a:hover { color: #f60; }

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	}

/* -- Layout -- */
#container {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	padding: 0px;
	width: 770px;
	}
#banner {
	text-align: left;
	padding: 10px 0 10px 0;
	margin: 0;
	border-bottom: 5px solid #39f;
	}
#center {
	float: left;
	width: 500px;
	margin: 0; padding: 0;
	overflow: hidden;
	}
#sidebar {
	float: right;
	width: 230px;
	background-color: #FFFFFF;
	overflow: hidden;
	}
#footer {
	clear: both;
	margin: 60px 0 60px 0;
	padding: 6px;
	color: #036;
	background: #e6e6e6;
	border: 1px solid #ccc;
	font-weight: normal;
	font-size: x-small;
	}
/* -- Banner --*/
.topnav {
	float: right;
	width: 7em;
	margin: 0; 
	padding: 0; 
	font-size: x-small;
	text-align: right;
	}
.topnav ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none;
	}
.topnav a { 
	display: block;
	width: 7em;
	text-decoration: none;
	padding: 1px 4px 1px 0;
	margin: 0;
	} 
.topnav a:hover {
	background-color: #39f; 
	color: #FFF;
	}

ul#navbar {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 4px 5px 4px 5px;
	color: #c00;
	background: #e6e6e6;
	border-bottom: 1px solid #39f;
	}
	ul#navbar li {
		display: inline;
		margin: 0;
		padding: 0;
		font-size: x-small;
		}
	ul#navbar li.right {
		float: right;
		}
	ul#navbar li a {
		padding: 1px 10px 1px 10px;
		}
	ul#navbar li a.here {
		background: #fff;
		}
	ul#navbar li a:hover {
		background: #f1f1f1;
		}

/* -- Footer --*/
.badges {
	float: right;
	width: 100px;
	text-align: right;
	margin: 0;
	padding: 0;
	}
.techpro {
	float: left;
	width: 32px;
	text-align: left;
	margin: 0;
	padding: 0;
	}
.h {
	display: none;
	}

/* Archives + Previous Next Menu */
.arch-title {
	margin: 0 0 2px 0;
	font-size: medium;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-shadow: #999 2px 2px 2px;
	}
ul#prevnext {
	font-size: x-small;
	width: 500px;
	list-style-type: none; 
	padding: 0; 
	margin: 0 0 20px 0;
	}
	ul#prevnext li {
		display: inline;
		}
	ul#prevnext .left {
		text-align: left; 
		}
	ul#prevnext .right {
		text-align: left;
		margin: 0 0 0 10px;
		padding: 0 0 0 10px;
		border-left: 1px solid #333;
		} 
	ul#prevnext .br {
		clear: both; 
		} 

/* "Content" */
.content {
	margin: 0; padding: 0;
	}

.content .by-thomas_crampton {
	
	}

.content h2 { /* Date */
	color: #666;
	font-weight: normal;
	font-size: x-small;
	margin: 0 0 5px 0;
	padding: 3px 0 5px 0;
	border-bottom: 1px solid #666;
	text-align: left;
	}

.content h3 { /* Title */
	color: #000;
	font-size: medium;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0;
	text-shadow: #999 2px 2px 2px;
	}

.content p.posted {
	font-size: x-small;
	font-weight: normal;
	text-shadow: none;
	margin: 0 0 10px 0; padding: 0;
	}
	.content p.posted .perma {
		font-weight: bold;
		}

.entry {
	color: #000;
	font-size: small;
	margin: 0 0 10px 0;
	padding: 0 5px 0 0;
	line-height: 140%;
	text-align: justify;
	}
	.entry img {
		border: none;
		}
	.inlineimage {
		display: table-cell;
		text-align: left;
		margin: 5px;
		padding: 5px;
		background: #f1f1f1;
		border: 1px solid #ccc;
		}
	.rinlineimage {
		float: right;
		text-align: center;
		margin: 0 0 5px 5px;
		padding: 5px;
		background: #f1f1f1;
		border: 1px solid #ccc;
		}
	.linlineimage {
		float: left;
		text-align: center;
		margin: 0 5px 5px 0;
		padding: 5px;
		background: #f1f1f1;
		border: 1px solid #ccc;
		}
		.caption {
			font-size: x-small;
			line-height: 100%;
			padding: 2px 0;
			text-align: left;
			}
	blockquote {
		color: #000;
		font-size: x-small;
		width: 90%;
		margin: 5px 20px 10px 15px;
		padding: 8px 8px 8px 8px;
		border-left: 1px dotted #c30;
		}
	blockquote .personquote {
		color: #c30;
		font-weight: bold;
		font-size: x-small;
		text-align: left;
		margin: 0px 0px 2px 0px;
		padding: 4px 4px 4px 6px;
		border-bottom: 1px dotted #c30;
		position: relative;
		left: -8px;
		top: -8px;
		width: 60%;
		}
/* @group People Photos */
.entry.people.photo a img {
	max-width: 490px;
	height:  auto;
	border: none !important;
	}
/* @end People Photos */

/* JP stuff */
.ed {
	color: #333;
	background-color: #ECF6FF;
	padding: 4px;
	margin: 4px;
	border: 1px dotted #666;
	}
.ori {
	color: #333;
	background-color: #FFFAE8;
	padding: 4px;
	margin: 4px;
	border: 1px dotted #666;
	}


.content p.discuss {
	color: #333;
	font-size: x-small;
	margin: 0 0 30px 0;
	padding: 0;
	text-align: right;
	}
/* Other recent entries stuff */
.title {
	color: #000;
	font-size: medium;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-shadow: #999 2px 2px 2px;
	}
.blogbody {
	color: #000;
	font-size: small;
	margin: 0 0 10px 0;
	padding: 0;
	}
	ul.blogbody {
		list-style: disc outside;
	}
	ul.blogbody li {
		margin: 0 0 0 10px;
		font-size: x-small;
	}
/* Sidebar stuff */

#moblog {
	position: relative;
	top: 0;
	left: 0;
	font-size: x-small;
	border: 1px solid #BFBFBF;
	}
	#motitle {
		margin: 0;
		padding: 2px 0px 2px 4px;
		font-weight: bold;
		color: #666;
		background-color: #ccc;
		}
	#modate {
		position: absolute;
		top: 16px;
		width: 224px;
		\width: 220px;
		w\idth: 224px;
		font-size: 10px;
		font-style: italic;
		margin: 0;
		padding: 2px 0px 2px 4px;
		background-image: url(../../img/trans.png);
		border-top: 1px solid #BFBFBF;
		border-bottom: 1px solid #BFBFBF;
		}

#sidebar {
	margin: 0;
	padding: 0;
	}

#sidebar h5 {
	color: #666;
	background-color: #ccc;
	font-weight: bold;
	font-size: 8pt;
	text-align: left;
	margin: 5px 0 0 0;
	padding: 2px 0px 2px 4px;
	border-top: 1px solid #BFBFBF;
	border-left: 1px solid #BFBFBF;
	border-right: 1px solid #BFBFBF;
	}
#sidebar .sidebox {
	color: #666666;
	font-weight: normal;
	font-size: 8pt;
	line-height: 1.2em;
	background-color: #eee;
	margin: 0;
	padding: 5px;
	border: 1px solid #BFBFBF;
	}
	.closed {
		display: none;
		margin: 0 0 10px 0;
		}
#sidebar .sidebox2 {
	color: #666666;
	font-weight: normal;
	font-size: 8pt;
	line-height: 1.2em;
	background-color: #eee;
	margin: 0 0 5px 0;
	padding: 0;
	border: 1px solid #BFBFBF;
	}
	.blogrollmain {
		text-align: center;
		}
		.blogrollmain br {
			display: none;
			}
		.rfr {
			display: inline;
			}
		.rfr img {
			padding: 0px;
			margin: 2px;
			border: 1px solid #666;
			}
	.sidebox .bdayroll {
		text-align: center;
		padding: 10px;
		}
	.sidebox ul {
		margin: 5px;
		padding: 0;
		list-style-type: none;
		}
		.sidebox ul li {
			font-size: x-small;
			}
	.sidebox p {
		font-weight: normal;
		font-size: x-small;
		margin: 0; padding: 0;
		}
	.sidebox p.commenttitle {
		font-size: x-small;
		font-weight: bold;
		color: #666;
		margin: 2px 0 2px 5px;
		}
	.sidebox p.commenttitle a {
		color: #666;
		}
	.sidebox p.commenttitle a.linkscomment {
		font-size: x-small;
		}
	.sidebox p.commentdate {
		float: right;
		font-style: italic;
		margin: 0 5px 0 0;
		}
	.sidebox p.commentauthor {
		margin: 0;
		}
	.sidebox a.commentlink { clear: both; display: block; margin: 0 5px 0 5px; }
	.sidebox a.commentlink { border-bottom: 1px dotted #fff; }
	.sidebox a.commentlink:hover { border-bottom: 1px dotted #f60; }

	.sidebox .delPost {
		}
		.sidebox .delPost .delTag {
			font-style: italic;
			}
#twitter {
	margin: 10px 0;
	padding: 4px;
	border: 1px dotted #ccc;
	font-size: 8pt;
	}
	#twitter img {
		border: none;
		width: 32px;
		height: 32px;
		float: left;
		margin: 0 2px 0 0;
		}
	#twitter span {
		display: block;
		}
	#twitter #my_twitter_status {
		}
	#twitter #my_twitter_status_time {
		text-align: right;
		color: #999;
		font-size: 7pt;
		}
	
.last dt {
	margin: 0;
	padding: 0;
	width: 210px;
	height: 10pt;
	overflow: hidden;
	}
.last dd {
	margin: 0 0 2px 10px;
	padding: 0;
	width: 200px;
	height: 10pt;
	overflow: hidden;
	}


#last-recenttracks {
	margin: 0;
	padding: 0;
	font-size:8pt;
}
	#last-recenttracks dt p {
		float:right;
		font-size: 7pt;
		}
	#last-recenttracks dt {
		margin: 2px 0 0 0;
		}
	#last-recenttracks dd {
		margin: 0;
		padding: 0 0 2px 2px;
		height: 12px;
		overflow:hidden;
		border-bottom: 1px dotted #ccc;
		}
#last-updated {
	margin-top:2px;
	text-align:right;
	font-size: 7pt;
	font-style:italic;
	}
#blogprint {
	width: 205px;
	margin: 0;
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
	background: #f1f1f1;
	font-family: Helvetica, arial,  sans-serif;
	font-size: medium;
	}
#blogprint li {
	list-style: none;
	display: inline;
	}

/* Comment Box */
#discussion {
	width: 490px;
	margin: 0 10px 0 0;
	}
	#discussion h2 {
		color: #333;
		font-weight: bold;
		font-size: small;
		font-style: normal;
		margin: 20px 0 10px 0;
		border: none;
		text-shadow: 1px 1px 2px #666;
		}
	#discussion .comment h3 {
		color: #333;
		font-weight: normal;
		font-size: x-small;
		font-style: normal;
		margin: 20px 0 2px 0;
		padding: 0 0 2px 0;
		text-shadow: none;
		border-bottom: 1px dotted #ccc;
		}
	#discussion .commentbody {
		color: #333;
		font-size: x-small;
		line-height: 150%;
		margin: 0;
		padding: 2px 0 2px 14px;
		}
	#discussion .commentbody p {
		margin: 0 0 10px 0;
		padding: 0;
		}
.commenter-profile img {
	border: none;
	}
textarea {
	padding: 0;
	margin: 0;
	width: 490px;
	height: 180px;
}
.commbox {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 8px 16px 6px 8px;
	margin: 0 ;
		font-size: x-small;
	}
	.commbox .remember {
		float: right;
		}
	.commbox .row {
		margin: 0 0 4px 0;
		padding: 0;
		clear:left;
		}
	.commbox .signin {
		text-align: right;
		font-style: italic;
		margin: 0 0 8px 0;
		padding: 0 0 4px 0;
		border-bottom: 1px dotted #ccc;
		}
	.commbox .label {
		float: left;
		width: 60px;
		font-weight: bold;
		}
	.commbox .row input {
		color: #000000;
		width: 200px;
		padding: 0;
		margin: 0;
		}

/* Clear! */
.clear {
	margin: 0; padding: 0;
	clear:both;
	}