/* Monobook皮肤的公共CSS

管理员注意！任何对Monobook.css的改变必须先在技术客栈讨论，谢谢。 */

/* Donations link to be uncommented during fundraising drives */
#siteNotice {
    margin-top:5px;
    padding-left: 4px;
    font-style: italic;
    text-align: center;
}

/*
#fundraising {
 text-align: center;
 border: 1px solid gray;
 padding: 5px;
}
*/

/*

== LIGHT BLUE SECTION ==

*/
/* Make all non-namespace pages have a light blue content area. This is done by
   setting the background color for all #content areas to light blue and then
   overriding it for any #content enclosed in a .ns-0 (main namespace). I then
   do the same for the "tab" background colors. --Lupo */

#content {
    background: #F8FCFF; /* a light blue */
}

#content div.thumb {
    border-color: #F8FCFF;
}

.ns-0 * #content {
    background: white;
}

#mytabs li {
    background: #F8FCFF;
}

.ns-0 * #mytabs li {
    background: white;
}

#mytabs li a {
    background-color: #F8FCFF;
}

.ns-0 * #mytabs li a {
    background-color: white;
}

#p-cactions li a, #p-cactions li a:hover, #p-cactions li.selected a {
    background-color: #F8FCFF;
}

.ns-0 * #p-cactions li a {
    background-color: #fbfbfb;
}

.ns-0 * #p-cactions li.selected a, .ns-0 * #p-cactions li a:hover {
    background-color: white;
}

.ns-0 * #content div.thumb {
    border-color: white;
}

/**************************/
/* END LIGHT BLUE SECTION */
/**************************/

/* 顯示 "維基百科，自由的百科全書" */
#siteSub {
    color: #000;
    display: inline;
    font-size: 92%;
    font-weight: normal;
}

#siteSub .editsection {
    font-size: 100%;
}

#bodyContent #siteSub a {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    padding-right: 0;
}

#siteSub .editsection a {
    color: #002BB8 !important;
}

#siteSub .editsection a:hover {
    text-decoration: underline !important;
}

/* Bold 'edit this page' link to encourage newcomers */
#ca-edit a { font-weight: bold !important; }

/* Display "User $1, you are already logged in!"
   ([[MediaWiki:Alreadyloggedin]]) in red and bold */
div.alreadyloggedin { color: red; font-weight: bold; }

@media print {
    /* Do not print edit link in templates using Template:Ed
       Do not print certain classes that shouldn't appear on paper */
    .editlink, .noprint, .metadata, .dablink { display: none }
    #content { background: #FFFFFF; } /* white background on print */
}

/* Accessibility experiment: make diff changes not just colour-based */

.diffchange {
    font-weight: bold;
    background-color: inherit;
}

td.diff-addedline, td.diff-deletedline, td.diff-context {
    font-size: 85%;
    color: inherit;
}

#pt-login {
  font-weight: bold;
  font-size: 110%;
}

form#userlogin {
  float: left;
  padding: 1em 1em .7em 1em;
  background-color: #ffffe6;
  border: 2px solid #fc6;
  color: #000;
  margin-right: 2em;
}

form#userlogin table {
  float: left;
  background-color: #ffffe6;
  color: #000;
}

p.error {
  font-weight: bold;
}

/* enlarge font-size for zh fonts */

#bodyContent { font-size:118% }

/* Fix Fontsize */
.portlet h5,
.portlet ul,
#toc .toctoggle {
    font-size: 100%;
}
.pBody,
#footer,
div.thumb div {
    font-size: 95%;
}

h2 {
    font-weight: bold;
}

/*
ul {
    margin: 0.5em 0 0 1.5em;
}
 */

/* sharedUploadNotice 去掉斜體 */
#sharedUploadNotice  {
    font-style: normal;
}

/* siteNotice 去掉斜体 */
#siteNotice {
    font-style: normal;
}

/* siteNotice 的表格去除顏色 */
#siteNotice table {
    background: transparent;
}

 li.FA {
   list-style-image: url("../../upload.wikimedia.org/wikipedia/en/d/d4/Monobook-bullet-star.png");
 }

 li.GA {
   list-style-image: url("http://upload.wikimedia.org/wikipedia/en/4/42/Monobook-bullet-ga.png");
 }

/*****
** Bytecounter colours
*****/
strong.mw-plusminus-neg
   {
   color: #c00;
   }
.mw-plusminus-pos {color: #060;}
.mw-plusminus-neg {color: #900;}

/*</nowiki></pre>

==语言地区==
<pre><nowiki>*/

li#ca-varlang {
	position:relative;
	cursor: default;
	margin: 0 0 0 1.6em;
	padding: 0 0.8em 0.3em;
	width: 5em;
	border: 1px #aaaaaa solid;
	z-index: 0;
	color: #002bb8;
	background: #f8fcff;
}
#ca-varlang:hover {
	background-color: #f8fcff;
	z-index:3;
}
.ns-0 * li#ca-varlang {
	background: #fbfbfb;
}
.ns-0 * #ca-varlang:hover {
	background-color: white;
}
li#ca-varlang ul {
	position:absolute;
	display:none;
	left:-1px;
	top: 1.2em;
	margin: 0;
	padding:0;
	z-index: 4;
}
#ca-varlang:hover ul {
	display:block;
}
li#ca-varlang li {
	display:list-item;
	list-style: none;
	background: #f8fcff;
	border: 1px #aaaaaa solid;
	margin:0;
	padding: 0;
	width: 8.6em;
}
.ns-0 * li#ca-varlang li {
	background: #fbfbfb;
}
li#ca-varlang li+li {
	margin-top: -1px;
}
li#ca-varlang a {
	background: transparent;
	width: 7em;
	margin: 0px;
	padding:0 0.8em;
	border: none;
	display: block;
}
li#ca-varlang a:hover {
	background: #ffffff;
}
.ns-0 * li#ca-varlang a:hover {
	background: #white;
}